.pClass {
  flex-grow: 1;
  position: relative;
}

.mClass {
  flex-grow: 1;
}

.sClass {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  /* background: url("/assets/images/bg.png") no-repeat;
  background-size: 100% 100%; */
  position: relative;
}

:host {
  display: flex;
  flex-grow: 1;
}
