.manabarImageClass {
    width: auto;
    height: 10%;
     right: 2%;
    bottom: 1%;
    position: absolute;
    /* transform: translate(-50%, 0%); */
}


    /* width: auto;
    height: 30%;
    position: absolute;
    left: 18%;
    bottom: 13%;
    transform: translate(-50%, 0%); */