/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
}

.rootClass {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.redBar .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
  border: 0 none;
  background: #ad0810;
}

.blueBar .ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {
  border: 0 none;
  background: #36b1cf;
}
